name: Build and Push to Docker Hub

on:
  push:
    branches: [ "main" ] # Runs whenever you push to the main branch

jobs:
  build-and-push:
    runs-on: ubuntu-latest # This is a hosted runner, no need to worry about RAM!

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Tags the image with 'latest' and the Git SHA for versioning
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/zomato:latest
            ${{ secrets.DOCKER_USERNAME }}/zomato:${{ github.sha }}
