name: Build and Push to Docker Hub

on:
  push:
    branches: [ "master" ]  # Triggers on every commit/merge to main
  pull_request:
    branches: [ "master" ]  # Triggers when a PR is opened against main
  workflow_dispatch:      # Allows you to run the pipeline manually for testing

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/zomato:latest
            ${{ secrets.DOCKER_USERNAME }}/zomato:${{ github.sha }}
